<!DOCTYPE html>
<html>
<title><%= data.name %></title> <!--CHANGE THIS-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/rating.css">
<link rel="stylesheet" href="/stylesheets/grid.css">
<link rel="stylesheet" href="/javascripts/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/javascripts/owl-carousel/owl.transitions.css">
<link rel="stylesheet" href="/javascripts/owl-carousel/owl.theme.css">
<script src="/javascripts/owl-carousel/owl.carousel.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/tipsy.css">
<script src="/javascripts/jquery.tipsy.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<% include partials/essential_scripts.ejs %>
<script src="/javascripts/ratinglib.js"></script>
<script src="/javascripts/charts-modal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
<body>

  <% include partials/navbar.ejs %>

  <% include partials/user_sidebar.ejs %>

<div id="sidebar" class="side_detail" style="text-align:center;">
  <div style="background-color: #00BCD4;">
    <p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size:30px; overflow-x:visible;"></p>
    <img id="director_img" src="<%= data.image_url %>">
  </div>
  <div id="shop"></div>
  <div style="margin:auto; width:90%;" id="comment_text_wrapper">
    <textarea class="form-control" rows="6" columns="100" style="overflow-y:scroll; width:100%; margin:5px; margin-top:15px" id="comment_text"></textarea>
  </div>
  <button type="button" class="btn btn-default" style="margin: 0 auto; margin-top: 2.5%;" id="submit_comments">Submit Comments</button>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="detail">
  <div class="w3-display-topmiddle" style="white-space:nowrap; padding-top:5%; padding-right:10%; width:60%;">
    <% include partials/search.ejs %>

  </div>
  <div class="container-fluid" id="first_div" style="padding-top:15%; display:block;">
    <div class="row">
      <div class="col-md-8 source_sans" style="margin-left:5%; background-color: #E0F7FA; border-radius:5px">
        <p class="item_hoverable" style="font-size: 50px; display:inline-block; margin: 1.5% 1.5% 1.5% 1.5%; margin-bottom: 0%;"><%= data.name %></p><br>
        <div class="row">
          <div class="source_sans item_hoverable" style="font-size:30px; margin-left: 3%; display:inline-block">Movies</div><br>
          <div id="movies" style="width:90%; margin:auto; margin-top:0%; background-color: #FFFFFF; border-radius: 10px; z-index:1000; padding:5px;">
                  
            <% movies.forEach(function(movie){ %>
                <div class="item" title="<%= movie.movie_title %>">
                  <a href="/movies/<%= movie.mid %>"><img src="<%= movie.image_url %>" style="width:100%; height: 100%;"></a>
                </div>
            <% }); %>
          </div>
        </div>
        <div class="row">
          <div class="source_sans item_hoverable" style="font-size:30px; margin-left: 3%; display:inline-block">Actors</div><br>
          <div id="actors" style="width:90%; margin:auto; background-color: #FFFFFF; border-radius: 10px; z-index:1000; padding:5px;">                  
            <% actors.forEach(function(actor){ %>
            <div class="item" title="<%= actor.name %>">
              <a href="/actors/<%= actor.aid %>"><img src="<%= actor.image_url %>" style="width:100%; height: 100%;"></a>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="row" style="margin-top:2.5%; margin-bottom:2.5%">
          <div style="text-align:center">
            <button title="info" type="button" id="length" class="btn btn-default glyph"><span class="glyphicon glyphicon-info-sign"></span></button>
            <button title="settings" type="button" id="settings" class="btn btn-default glyph"><span class="glyphicon glyphicon-cog"></span></button>
            <!-- <button title="add" type="button" id="add" class="btn btn-default glyph"><span class="glyphicon glyphicon-plus"></span></button> -->
<!--             <button type="button" id="revenue" class="btn btn-default glyph"><span class="glyphicon glyphicon-usd"></span></button>
            <button type="button" id="release" class="btn btn-default glyph"><span class="glyphicon glyphicon-calendar"></span></button>
            <button type="button" id="langauge" class="btn btn-default glyph"><span class="glyphicon glyphicon-globe"></span></button>
            <button type="button" id="rating" class="btn btn-default glyph"><span class="glyphicon glyphicon-star-empty"></span></button>
            <button type="button" id="genres" class="btn btn-default glyph"><span class="glyphicon glyphicon-tags"></span></button> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <div class="container-fluid" id="second_div" style="padding-top:15%; display:none;">
    <div class="row">
      <span class="glyphicon glyphicon-chevron-left" style="float:right;"></span>
    </div>
    <div class="row" >
      <div class="col-md-8 source_sans" style="margin-left:5%; background-color: #E0F7FA; border-radius:5px; text-align:center; padding-bottom:20px;">
        <button id="back_btn" type="button" class="btn btn-default" style="position:absolute; float:right; right:0; top:0;"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <input type="text" id="u_name" class="form-control" style="font-size: 20px; display:inline-block; margin-left:10px; margin-bottom: 0%; margin-top:1.5%; width:400px;" placeholder="Actor Name"><br>
        <input type="text" id="u_url" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="Img URL"><br>
        <input type="text" id="u_movie_list" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="Movies"><br>
        <button class="btn btn-default" style="margin-top:1.5%">Submit</button>
        <p class="small">Insert Movies comma delimited, in order</p>
<!--         <div class="item_hoverable" style="font-size:20px; display:inline-block; margin: 1.5% 1.5% 1.5% 1.5%; margin-top: 0%; margin-right:0%;">Action</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Sports</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Medicine</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Horror</div> -->
     </div>
     <div class="col-md-4">
     </div>
    </div>
  </div>

</div>

<div style="text-align:center">
  <% include partials/modal.ejs %>
</div>



<script>
$('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
});
</script>
 

<script>

$(".type, .item_hoverable, .item").tipsy({gravity: "n"});

$(document).ready(function(){
    'use strict';

    var did = document.URL.split("/").pop().split("?")[0];
    // get user comments & ratings
    if( typeof Cookies.get('uid') !== "undefined"){
        $.ajax({
            url: "/users/director_rating/" + did,
            type: "POST",
            data: {
                uid: Cookies.get('uid'),
            },
            success: function(data, textStatus, jqXHR){
                var response = JSON.parse(jqXHR.responseText);
                $("#comment_text").attr("placeholder", response.comments);
                var data = [
                  {
                    title: "",
                    description: "",
                    rating: response.rating
                  },
                ];
                init(data);
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert(jqXHR.responseText);
            },
        });
    } else{
        $("#comment_text_wrapper").remove();
        $("#submit_comments").remove();
    }

    $("#submit_comments").on("click", function(){
        $.ajax({
            url: "/users/director_rating/update_comments/" + did,
            type: "POST",
            data: {
                uid: Cookies.get('uid'),
                comments: $("#comment_text").val(),
            },
            success: function(data, textStatus, jqXHR){
                $("#comment_text").val("");
                location.reload()
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert(jqXHR.responseText);
            },
        });
    });


    // INITIALIZE
    function init(data) {
      for (var i = 0; i < data.length; i++) {
        addRatingWidget(buildShopItem(data[i]), data[i]);
      }
    };

    // BUILD SHOP ITEM
    function buildShopItem(data) {

      // SHOP ELEMENT
      var shop = document.querySelector('#shop');

      var shopItem = document.createElement('div');

      var html = '<div class="c-shop-item__img"></div>' +
        '<div class="c-shop-item__details">' +
          '<p style="left:10px; font-family: ' + "'Open Sans', sans-serif; font-size:30px;" + '">' + data.title + '</h3>' +
          '<p class="c-shop-item__description">' + data.description + '</p>' +
          '<ul class="c-rating" style="margin:5% 0 0 32.5% "></ul>' +
        '</div>';

      shopItem.classList.add('c-shop-item');
      shopItem.innerHTML = html;
      shop.appendChild(shopItem);

      return shopItem;
    }

    // ADD RATING WIDGET
    function addRatingWidget(shopItem, data) {
      var ratingElement = shopItem.querySelector('.c-rating');
      var currentRating = data.rating;
      var maxRating = 5;
      var callback = function(rating){
        if (typeof Cookies.get('uid') !== "undefined"){
            $.ajax({
                url: "/users/director_rating/update_rating/" + did,
                type: "POST",
                data: {
                    uid: Cookies.get('uid'),
                    rating: rating,
                },
                success: function(data, textStatus, jqXHR){
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert(jqXHR.responseText);
                },
            });
        }
      };
      var r = rating(ratingElement, currentRating, maxRating, callback);
    }
});
</script>
<!-- Add Google Maps -->
<script>

$(document).ready(function () {

  $("#movies").owlCarousel({

      autoPlay: 6000, //Set AutoPlay to 3 seconds
 
      items : 5,
      itemsDesktop : [1199,3],

      afterUpdate: function () {
          updateSize();
      },
      afterInit:function(){
          updateSize();
      }
  });

  $("#directors").owlCarousel({

      autoPlay: 6000, //Set AutoPlay to 3 seconds
 
      items : 5,
      itemsDesktop : [1199,3],

      afterUpdate: function () {
          updateSize();
      },
      afterInit:function(){
          updateSize();
      }
  });

  function updateSize(){
      var minHeight=parseInt($('.owl-item').eq(0).css('height'));
      $('.owl-item').each(function () {
          var thisHeight = parseInt($(this).css('height'));
          if (thisHeight < 100) return;
          minHeight=(minHeight<=thisHeight?minHeight:thisHeight);
      });
      $('.owl-wrapper-outer').css('height',minHeight+'px');
  }

  $('#back_btn').click(function(){
    $('#second_div').css('display', 'none');
    $('#first_div').css('display', 'block');
  });

  $('#settings').click(function(){
    $('#first_div').css('display', 'none');
    $('#second_div').css('display', 'block');
    //which_one = "settings";
  });

  $('#u_submit').click(function(){
    //Ajax submit and do your reload or whatever
  });
});


$('.type').click(function(){
    if($(this).hasClass('searching')){
        $(this).removeClass('searching')
    } else {
        $(this).addClass('searching')
    }
});


// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</script>

</body>
</html>
