<% 
    var movie_list = [];
    var director_list = [];
    var actor_list = [];
    entries.forEach( function(entry) {
        if (entry.source === "Actors"){
            actor_list.push(entry);
        } else if (entry.source ==="Movies"){
            movie_list.push(entry);
        } else if (entry.source == "Directors"){
            director_list.push(entry);
        }
    });
%>
<!DOCTYPE html>
<html>
<title>Search Results</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/rating.css">
<link rel="stylesheet" href="/stylesheets/grid.css">
<link rel="stylesheet" href="/javascripts/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/javascripts/owl-carousel/owl.transitions.css">
<link rel="stylesheet" href="/javascripts/owl-carousel/owl.theme.css">
<link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
<script src="/javascripts/owl-carousel/owl.carousel.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/tipsy.css">
<script src="/javascripts/jquery.tipsy.js"></script>
<script src="javascripts/update.js"></script>
<% include partials/essential_scripts.ejs %>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
<body>

  <% include partials/navbar.ejs %>

  <% include partials/user_sidebar.ejs %>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="detail">
  <div class="w3-display-topmiddle" style="white-space:nowrap; padding-top:5%; padding-right:10%; width:60%; text-align:center;">
    <% include partials/search.ejs %>
  </div>
  <div class="container-fluid" style="padding-top:10%;">
    <% if(movie_list.length > 0){ %>
    <div class="row scope_one" style="text-align:center; font-size:40px; color:#FFFFFF;">
      <div>Movies</div>
    </div>
    <div class="row">
      <div id="movies" style="width:80%; margin:auto; margin-bottom:5%; background-color: #FFFFFF; border-radius: 10px; z-index:1000; padding:5px;">    
        <% movie_list.forEach(function(entry){ %>
            <div class="item" title="<%= entry.name %>">
              <a href="/movies/<%= entry.id %>"><img src="<%= entry.image_url %>" style="height: 200px; width:auto;"></a>
            </div>
        <% }); %>
      </div>
    </div>
    <% } %>
    <% if(actor_list.length > 0){ %>
        <div class="row scope_one" style="text-align:center; font-size:40px; color:#FFFFFF;">
          <div>Actors</div>
        </div>
        <div class="row">
          <div id="actors" style="width:80%; margin:auto; margin-bottom:5%; background-color: #FFFFFF; border-radius: 10px; z-index:1000; padding:5px;">    
            <% actor_list.forEach(function(entry){ %>
                <div class="item" title="<%= entry.name %>">
                  <a href="/actors/<%= entry.id %>"><img src="<%= entry.image_url %>" style="width:100%; height: 100%;"></a>
                </div>
            <% }); %>
          </div>
        </div>
    <% } %>
    <% if(director_list.length > 0){ %>
        <div class="row scope_one" style="text-align:center; font-size:40px; color:#FFFFFF;">
          <div>Directors</div>
        </div>
        <div class="row">
          <div id="directors" style="width:80%; margin:auto; margin-bottom:5%; background-color: #FFFFFF; border-radius: 10px; z-index:1000; padding:5px;">    
            <% director_list.forEach(function(entry){ %>
                <div class="item" title="<%= entry.name %>">
                  <a href="/directors/<%= entry.id %>"><img src="<%= entry.image_url %>" style="width:100%; height: 100%;"></a>
                </div>
            <% }); %>
          </div>
        </div>
    <% } %>
  </div>
</div>

  <div style="text-align:center">
    <% include partials/modal.ejs %>
  </div>

<script>
$('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
});
</script>
 

<!-- Add Google Maps -->
<script>

$(document).ready(function () {

  $("#movies").owlCarousel({
 
      items : 5,
      itemsDesktop : [1199,3],

      // afterUpdate: function () {
      //     updateSize();
      // },
      afterInit:function(){
          updateSize();
      }
  });

  $("#actors").owlCarousel({
 
      items : 5,
      itemsDesktop : [1199,3],

      afterUpdate: function () {
          updateSize();
      },
      afterInit:function(){
          updateSize();
      }
  });

  $("#directors").owlCarousel({

      items : 5,
      itemsDesktop : [1199,3],

      afterUpdate: function () {
          updateSize();
      },
      afterInit:function(){
          updateSize();
      }
  });

  // function updateSize(){
  //     var minHeight=parseInt($('.owl-item').eq(0).css('height'));
  //     $('.owl-item').each(function () {
  //         var thisHeight = parseInt($(this).css('height'));
  //         if (thisHeight < 100) return;
  //         minHeight=(minHeight<=thisHeight?minHeight:thisHeight);
  //     });
  //     $('.owl-wrapper-outer').css('height',minHeight+'px');
  //     //console.log(minHeight);
  // }
});


$('.type').click(function(){
    if($(this).hasClass('searching')){
        $(this).removeClass('searching')
    } else {
        $(this).addClass('searching')
    }
});

$('.item').tipsy({gravity: 'n'});


// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

$('.type').tipsy({gravity: 'n'});

</script>

</body>
</html>
<!--
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <% entries.forEach( function(entry) { %>
            <li><%= entry.name %> - <%= entry.source %></li>
        <% }); %>
    </ul>
  </body>
</html>
-->
